@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before,  *::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  border-radius: 10%;
}

@layer components {
  .list-item{
    @apply border-gray-300 p-[.8em] text-[1.2rem] font-semibold cursor-pointer text-white hover:bg-[#022149] focus:bg-[#022149]
  }

  .list-item:nth-child(4) {
    @apply border-none
  }

  .page-title {
    @apply font-bold text-[2rem]  text-gray-700 leading-[1.3em]
  }

  .skills-container {
    @apply bg-gray-900 opacity-[.7] my-[1em] p-[1em]
  }

  .skill-card {
    @apply text-white w-[42%] my-0 mx-auto py-[1em] max-w-[500px] text-center
  }
}